.main-content {
    flex-wrap: flex;

    .section {
        height: 100px;
        position: float;

        .section-details {
            font-size: 100px;
            margin: 80px 86px 40px;
            color: white;

            @media only screen and (min-width: 506px) {
                margin: 50px;
            }

            @media only screen and (min-width: 375px) {
            }
        }

        .section-details-2 {
            font-size: 20px;
            margin: 100px;
            color: white;

            @media only screen and (min-width: 375px) {
                margin: 22px;
             }
        }

        .btn-section {
            flex-direction: column;
            max-width: 100%;
            margin: 65px;

            @media only screen and (min-width: 506px) {
                margin: 1px;
            }

            @media only screen and (min-width: 375px) {
                margin: 10px;
             }

            .btn {
                background-color: white;
                color: black;
                border: 2px solid #555555;
                height: 80px;
                width: 250px;
                border-radius: 8px;
                margin: 10px;
                font-size: 22px;

                @media only screen and (min-width: 375px) {
                    width: 167px;
                    margin: 5px;
                 }
            }
        }
    }

    .section-3 {
        height: 100px;
        position: float;

        .section-details-3 {
            font-size: 30px;
            margin: 80px;
            color: white; 
        }
    }
    .section-4 {
        height: 500px;
        max-width: 100%;

        .section-details-4 {
            font-size: 20px;
            margin: 80px;
            color: white; 
        }
    }
}

@media only screen and (min-width: 506px) {
    .main-content {
        flex-wrap: flex;
    
        .section {
            height: 100px;
            position: float;
    
            .section-details {
                font-size: 100px;
                margin: 50px;
                color: white;
            }
    
            .section-details-2 {
                font-size: 16px;
                margin: 70px 38px 46px;
                color: white;  
            }
    
            .btn-section {
                flex-direction: column;
                max-width: 100%;
                .btn {
                    background-color: white;
                    color: black;
                    border: 2px solid #555555;
                    height: 80px;
                    width: 222px;
                    border-radius: 8px;
                    margin: 10px;
                }
            }
        }
    
        .section-3 {
            height: 100px;
            position: float;
    
            .section-details-3 {
                font-size: 30px;
                margin: 80px;
                color: white; 
            }
        }
        .section-4 {
            height: 500px;
            max-width: 100%;
    
            .section-details-4 {
                font-size: 20px;
                margin: 80px;
                color: white; 
            }
        }
    }
  }