<div class="main-content">
    <div class="section">
        <div class="section-details">
            <span>TESLA</span>
        </div>
    </div>
    <div class="section-2">
        <div class="section-details-2">
            <span>TESLA</span>
        </div>
    </div>
    <div class="section-3">
        <div class="section-details-3">
            <span>TESLA</span>
        </div>
    </div>
    <div class="section-4">
        <div class="section-details-4">
            <span>TESLA</span>
        </div>
    </div>
</div>
