.main-content {
    flex-wrap: flex;

    .section {
        height: 100px;
        position: float;

        .section-details {
            font-size: 100px;
            margin: 90px;
            color: white;
        }
    }
    .section-2 {
        height: 200px;
        position: float;

        .section-details-2 {
            font-size: 20px;
            margin: 100px;
            color: white;   
        }
    }
    .section-3 {
        height: 100px;
        position: float;

        .section-details-3 {
            font-size: 30px;
            margin: 80px;
            color: white; 
        }
    }
    .section-4 {
        height: 500px;
        max-width: 100%;

        .section-details-4 {
            font-size: 20px;
            margin: 80px;
            color: white; 
        }
    }
}