.main-content {
    flex-wrap: flex;

    .section {
        height: 100px;
        position: float;

        .section-details {
            font-size: 100px;
            margin: 90px;
            color: white;
        }

        .section-details-2 {
            font-size: 20px;
            margin: 100px;
            color: white;   
        }

        .btn-section {
            flex-direction: column;
            max-width: 100%;
            .btn {
                background-color: white;
                color: black;
                border: 2px solid #555555;
                height: 80px;
                width: 250px;
                border-radius: 8px;
                margin: 10px;
            }
        }
    }

    .section-3 {
        height: 100px;
        position: float;

        .section-details-3 {
            font-size: 30px;
            margin: 80px;
            color: white; 
        }
    }
    .section-4 {
        height: 500px;
        max-width: 100%;

        .section-details-4 {
            font-size: 20px;
            margin: 80px;
            color: white; 
        }
    }
}